.footerContainerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100vw;
    height: 40vh;
    background-color: #f8f8f8;
}

.footerContainerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    padding-top: 25px;
}

.footerTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;

    border-width: 0px;
    border-left-color: green;
    border-style: solid;
}


/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
    .footerTextContainer {
       width: 340px;
       justify-content: center;
       align-items: flex-start;
    }
}


.footerLogoContainerMobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 340px;

    border-width: 0px;
    border-color: blue;
    border-style: solid;
}

.footerLogoContainerDesktop {
    border-width: 0px;
    border-color: blue;
    border-style: solid;
}


.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.footerLogoText{
    font-size: 40px;
    color: white;
}

.footerLinksListDesktop {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    gap: 10px;

    border-width: 0px;
    border-color: red;
    border-style: solid;
}

.footerLinksListMobile {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    gap: 5px;
    width: 340px;
}

.footerLinks {
    font-size: 20px;
    margin: 0px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}

.footerSocialMediaList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 100px;
}

.footerIcon {
    cursor: pointer;
}

.footerMiddleText {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    margin-bottom: 10px;
}

.footerBulletText {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    margin-right: 5px;
}

.footerBulletTextEntry {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    text-decoration: underline;
    cursor: pointer;
}

.footerBullets {
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-bottom: 10px;
}