.landingPageButton {
    border-radius: 25px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 13vw;
    height: 6vh;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    cursor: pointer;
    align-self: center;
    transform: translateX(-50%);
}

.landingPageButton:hover {
    opacity: 0.5;
}

.landingPageButtonText {
    color: black;
}



.landingPageContainer {
    height: 100vh;
    max-width: 100vw;
    
    background: url('../Assets/aa.webp') no-repeat center center; 
    background-position: 90% 0%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e1e1e1;
    /* e1e1e1 */
    /* 647769 */
    /* 575160 */
}

.carouselItemHide {
    opacity: 0;
    color: transparent;
    font-size: 4vw;
    width: auto;
    height: 10vh;
}

.carouselTitle {
    float: left;
    position: relative;
    width: auto;
    height: auto;
    padding-right: 1vw;
    color: black;
    display: inline-grid;
    height: 10vh;
    /* transform: translate3d(0, 8%, 0); */
}

.carouselTitleText {
    font-size: 4vw;
    margin: 0px;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    animation: fadeIn 0.25s forwards;
}

.underline {
    transform: translate3d(0, 8%, 0);
}

.carouselContainer {
    width: auto;
    height: auto;
}

.carousel {
    list-style-type: none;
}

.carousel li {
    list-style-type: none;
}

.carouselItem {
    opacity: 0;
    color: black;
    font-size: 4vw;
    width: auto;
    height: 10vh;
}

.carouselContainer li:nth-child(1) {}


.carouselContainer li:nth-child(2) { 
    animation: 
    fadeIn 0.25s forwards,           /* Appears first and immediately, no s*/
    fadeOut 0.25s 3.5s forwards;      /* Disappears last (after 3.5s) */
}
.carouselContainer li:nth-child(3) { 
    animation: 
    fadeIn 0.25s 0.25s forwards,       /* Appears second (after 0.25s) */
    fadeOut 0.25s 3.25s forwards;      /* Disappears second (after 3.25s) */
    display: inline-block; /* needed so underline doesnt break into two lines*/
}
.carouselContainer li:nth-child(4) { 
    animation: 
    fadeIn 0.25s 0.5s forwards,       /* Appears last (after 0.5s) */
    fadeOut 0.25s 3s forwards;      /* Disappears first (after 3s) */
}

@keyframes fadeIn {
    to { 
        opacity: 1; 
        transform: translate3d(0, 8%, 0);
    }
}

@keyframes fadeOut {
    from { 
        opacity: 1; 
        transform: translate3d(0, 8%, 0);
    }
    to { 
        opacity: 0; 
        transform: translate3d(0, 0, 0);
    }
}
 

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {

    .landingPageContainer {
        height: 100vh;
        max-width: 100vw;
        background-position: 0% 100%;
    }

    .carouselContainer {
        position: relative;
        right: 5%;
        bottom: 20%;
    }

    .carouselItem {
        opacity: 0;
        color: black;
        font-size: 7vw;
        height: 5vh;
    }

    .carouselItemHide {
        opacity: 0;
        color: transparent;
        font-size: 7vw;
        height: 5vh;
    }

    .carouselTitle {
        height: 5vh;
    }

    .carouselTitleText {
        font-size: 7vw;
    }
    
}