.landingPageContainer {
    height: 100vh;
    width: 100vw;
    background: url('../test.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carouselTitle {
    float: left;
    position: relative;
    width: auto;
    height: auto;
    padding-right: 2%;
    font-size: 4vw;
    color: white;
    display: inline-grid;
}

.carouselTitleText {
    margin: 0px;
    transform: translate3d(0, 8%, 0);
}

.underline {
    transform: translate3d(0, 8%, 0);
}

.carouselContainer {
    width: auto;
    height: auto;
}

.carousel {
    list-style-type: none;
}

.carouselItem {
    opacity: 0;
    color: white;
    font-size: 4vw;
}

.carouselContainer li:nth-child(1) {   
}



 


.carouselContainer li:nth-child(2) { 
    animation: 
    fadeIn 0.25s forwards,           /* Appears first and immediately, no s*/
    fadeOut 0.25s 3.5s forwards;      /* Disappears last (after 3.5s) */
}
.carouselContainer li:nth-child(3) { 
    animation: 
    fadeIn 0.25s 0.25s forwards,       /* Appears second (after 0.25s) */
    fadeOut 0.25s 3.25s forwards;      /* Disappears second (after 3.25s) */
    display: inline-block; /* needed so underline doesnt break into two lines*/
    margin-bottom: 4%;
}
.carouselContainer li:nth-child(4) { 
    animation: 
    fadeIn 0.25s 0.5s forwards,       /* Appears last (after 0.5s) */
    fadeOut 0.25s 3s forwards;      /* Disappears first (after 3s) */
}


@keyframes fadeIn {
    to { 
        opacity: 1; 
        transform: translate3d(0, 8%, 0);
    }
}

@keyframes fadeOut {
    from { 
        opacity: 1; 
        transform: translate3d(0, 8%, 0);
    }
    to { 
        opacity: 0; 
        transform: translate3d(0, 0, 0);
    }
}
 

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {

    .carouselContainer li:nth-child(1) {   
        margin-bottom: 12%;
    }

    .landingPageContainer {
        height:100vh;
        width: 100vw;
        background: url('../test.jpg') no-repeat 23% center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .carouselContainer {
        position: relative;
        right: 5%;
    }

    .carouselItem {
        opacity: 0;
        color: white;
        font-size: 7vw;
    }

    .carouselTitleText {
        font-size: 7vw;
    }
    
}